@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

/* ---------------------------------------------Colours */

.bg-color-number-email {
  background-color: #303036;
}

.ui-menu-color-home {
  background-color: #d81159;
}

.ui-menu-color-aboutus {
  background-color: #b8bdb5;
}

.ui-menu-color-services {
  background-color: #f08700;
}

.ui-menu-color-contact {
  background-color: #4d6cfa;
}

/* ---------------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Recursive", sans-serif;
    color: #fff
}

.inline-block {
    display: inline-block;
}

/* ---------------------------------------------Heading */

header {
  margin: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.col-md-4 {
    padding: 0;
}

.heading {
  margin: auto;
}

.logo {
  background: url("../images/RYNO.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 130px;
  background-size: contain;
  padding: 0;
  margin: auto auto;
}

.number {
  font-family: "Recursive", sans-serif;
  font-size: 150%;
  margin-top: 60px;
  margin-left: 20px;
  color: #fff;
}

.email {
  font-family: "Recursive", sans-serif;
  font-size: 150%;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 20px;
  color: #fff;
}
/* ---------------------------------------------NAVBAR */

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
  margin-bottom: 0;
}

#navbar li {
  padding: 0;
}

.menuitem {
  height: 70px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  width: 100%;
  text-decoration: none;
  height: 70px;
  color: #303036;
}

.menuitem a i {
  padding-top: 10px;
  display: block;
  color: #303036;
  font-size: 25px;
}

.menuitem span {
  display: block;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Recursive", sans-serif;
}

.col {
    padding: 0;
}

/* ---------------------------------------------Hover.css */

.hvr-shutter-out-horizontal:before {
    background-color: rgb(0, 0, 0, 0.2);
    height: 70px;
}

.hvr-shutter-out-horizontal {
    background: transparent;
}

/* ---------------------------------------------Hero image */

.cover {
    object-fit: cover;
}

/*#hero-image {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    }*/

#cover-text {
    color: #fff;
    font-size: 150%;
    font-family: "Recursive", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 310px;
    padding-top: 40px;
    padding-left: 30px;
    bottom: 40px;
    left: 0;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.4)
}

#hero-block {
    position: relative;
}

/* ---------------------------------------------Company description */

#description {
    background-color: #303036;
    color: #fff;
    padding: 20px;
}

/* ---------------------------------------------Location map */

.row {
    margin: 0;
}

.map-bg {
    background-color: #303036;
    height: 450px;
    width: 100%;
}

#map {
    height: 450px;
    width: 100%;
    padding: 30px;
    border: none;
}

/* ---------------------------------------------Opening hours*/

.hours {
    background-color: #303036;
    height: 450px;
    width: 100%;
    color: #fff;
}  

.table {
    color: #fff;
    height: 75%;
    width: 90%;
    margin: 20px;
    position: auto;
}

/* ---------------------------------------------Contact us button*/

.button {
    background-color: #303036;
    padding: 20px;
    height: 450px;
    width: 100%;
    color: #fff;
    text-align: center;
}

/* ---------------------------------------------Footer */

footer {
    background-color: #303036;
    color: #fff;
    min-height: 70px;
}

.social-links {
    padding-bottom: 10px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 13px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color: #fff;
    background: #303036;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.social-links li a i:hover {
    background: #b8bdb5;
}